@charset "utf-8";

@font-face {
    font-family: "idroid";
    src: url("fontes/idroid.otf");
}
:root{
    --cor0: green;
    --cor1: #c5ebd6;
    --fonte-padrao: arial, verdana, helvetica, sans-srif;

}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
    margin: auto;
   
}
div{
    background-image: linear-gradient(rgba(0, 125, 29, 0.558), rgba(0, 56, 13, 0.79));
    margin: auto;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
h1{
    text-align: center;
    color: white;
}
.subtitulo{
    text-align: center;
    margin: 20px;
    color: white;
}
button{
    font-size: 17px;
    padding: 0.5em 1em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0);
    background: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 4px;
    border-left-width: 28px;
    padding-left: 20px;
    padding-right: 20px;
    
    
    
}
#menu1, #menu2, #menu3, #menu4{
    color: white;
    display: block;
    text-decoration: none;
}
   
button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(0, 123, 53) 0%, rgb(0, 123, 53) 100%);
    cursor: pointer;    
}

   
button:active {
    transform: translate(0em, 0.2em);
    transition-duration: 1s;
   
}

.and{
    color: green;
    text-decoration: none;
    font-weight: bold;

}
.sub1{
    color: rgb(3, 99, 51);
    font-size: 27px;
    font-family: idroid;
    text-align: justify;
    margin: 0;
}
.sub2, .sub3{
    color: rgb(3, 99, 51);
    background-image: linear-gradient(to right, rgba(121, 246, 152, 0.771) , rgba(251, 251, 251, 0));
    font-family: idroid;
    font-size: 23px;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 0px 3px;
}
.sub4{
    color: white;
    background-color: green;
    width: auto;
    height: -1px;
    display: flex;
    border-radius: 10px 10px 10px 0px;
   
    padding: 10px;
  
}
p, .p{
    text-indent: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
}
.img1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.img2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
aside > ul{
    columns: 2;
    padding-bottom: 20px;
}
.boxaprender{
    padding: 1px;
    display: block;
   
    
}
.list{
    padding-left: 20px;
    display: block;
    margin: 0 0 0 15px;
    text-transform: uppercase;
    text-decoration: none;
}
.boxvideo{
    margin: -24px;   
    background-color:rgb(0, 77, 18);
    width: 100%;
    height: 350px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -23px;
}
h2{
    font-size: 15px;
    text-align: justify;
}
h3{
    text-indent: 0.5em;
}
main{
    text-align: justify;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0);
    min-width: 280px;
    max-width: 800px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 20px;
}
.boxfinal{
    background-color: rgb(175, 245, 197);
    border-radius: 10px;
}
footer{
    text-align: justify;
    margin: 0px;
    background-color:white;
   
}